body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  th, td {
        border-bottom: 1px solid #ddd; /* Menambahkan garis bawah pada sel-sel tabel */
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2; /* Warna latar belakang untuk sel header */
      }